<%- include('./partials/header') %>
  
   
   <nav>
        <a href="/plants">All Plants</a>
        <a href="/plants/new">Add a New Plant</a>
    </nav>

    <h1>Alyjah's Plant App</h1>

<%- include('./partials/footer') %>
